# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/state-images-new/Andaman_Nicobar/2fe0e21d21852dd4d751cbc0f990cd36.webp
public/state-images-new/Andhra_Pradesh/1ba7ee561188e496cf5326acaee8ec62.webp
public/state-images-new/Andhra_Pradesh/0d14e5a29c2d50a654478990dcdaf7c4.webp

archive/
